:root {
    --first-color: #35790C;
    --second-color: #6d4a22;
    --third-color: #e8ba88;
}
@font-face {
    font-family: 'NCAA Wisconsin Badger Bold';
    src: url('/assets/Fonts/NCAA\ Wisconsin\ Badger\ Bold.ttf') format('truetype');
}

body {
background-color: white;
margin: 0;
padding: 0;
font-family: 'NCAA Wisconsin Badger Bold', Verdana, Geneva, Tahoma, sans-serif
}

header {
    background-image: url(/assets/Images/Cabecera\ web.png);
    background-size: cover;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header input {
    margin-top: 120px;
    height: 25px;
    border: var(--second-color);
}

header button {
    background: var(--first-color);
    border: var(--second-color);
    border-style: groove;
    margin-top: 120px;
    margin-left: -30px;
    width: 70px;
    height: 30px;
    color: #ffffff;

}

header button:hover {
    background: var(--third-color);
    border: var(--second-color);
    border-style: groove;
    margin-top: 120px;
    margin-left: -30px;
    width: 70px;
    height: 30px;
    color: var(--first-color);

}

.logo {
    height: 350px;
    width: auto;
    margin-top: -15px;
    margin-left: 10px;
}

.logo:hover {
    height: 350px;
    width: auto;
    margin-top: -15px;
    margin-left: 10px;
    filter: hue-rotate(-45deg);
}

header nav {
    display: flex;
}

header nav a {
    text-decoration: none;
    color: var(--first-color);
    margin: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-top: 120px;
}

header nav a:hover {
    text-decoration: underline;
    color: var(--second-color);
    margin: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-top: 120px;
}

.slogan {
    color: var(--second-color);
    margin-top: 150px;
    font-size: xx-large;
    font-style: italic;
}


.iconos {
    border: none;
    height: 15vh;
    margin-top: -5vh;
}




main {
    padding: 20px;
}

/* HASTA AQUI ES HEADER */


.wrp {
    width: 100%;
    height: 306px;
    position: relative;
    overflow: hidden;
    background-size: contain;
}

.info {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0;

}
.info h2 {
    margin-bottom: 20px;
    color: #35490c;
    font-size: 400%;
    -webkit-text-stroke: 1px white;
        text-transform: uppercase;
    margin-top: auto;
    z-index: 2;
    font-family: 'NCAA Wisconsin Badger Bold', Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.info p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 190%;
    -webkit-text-stroke: 1px #e8ba88;
    color:#e8ba88;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;

}
.contenido {
    width: 100%;
    position: absolute;
    color: #35490c;
    top: 11%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.curveado {
    width: 140%;
    height: 100%;
    position: absolute;
    background: url('../src/marroncito.png') center;
    background-size: cover;
    z-index: -1;
}

/* GEMA CORTE AQUI */ 

.section {
    position: relative;
    text-align: center;
    overflow: hidden;
  
}

.section-nosotros {
        color: #35490c;
        padding-top: 0;
        position: relative;
        overflow: hidden;
}


.contenido-nosotros h2 {
    margin: 0;
    font-size: 2.5em;
    /* Ajusta el tamaño de la fuente según tus necesidades */
}

.contenido-nosotros p {
    /* Tus estilos para el párrafo */
    position: relative;
    z-index: 2;
    /* Asegúrate de que el texto está sobre la onda */
}

.values .container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
    
}

.values h1 {
    margin-bottom: 20px;
    color: #35490c;
    font-size: 400%;
    margin-bottom: 5%;
    -webkit-text-stroke: 1px white;
    margin-top: 0;
    font-family: 'NCAA Wisconsin Badger Bold', Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.value-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.value {
    background-color: #6d4a22;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    flex-basis: calc(50% - 10px);
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.value h3 {
    color: #35490c;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'NCAA Wisconsin Badger Bold', Verdana, Geneva, Tahoma, sans-serif;
        -webkit-text-stroke: 1px white;
    font-size: 250%;
}

.value p {
    color:#e8ba88;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
    .value-grid {
        justify-content: center;
    }

    .value {
        flex-basis: 100%;
        /* Full width for smaller screens */
        max-width: 500px;
        /* Optional max width for smaller screens */
    }
}

/* EQUIPO */ 

.team {
    padding: 50px 0;
    text-align: center;
}

.team h2 {
    color: #35490c;
    font-size: 400%;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 0;
    font-family: 'NCAA Wisconsin Badger Bold', Verdana, Geneva, Tahoma, sans-serif;
        -webkit-text-stroke: 1px white;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}

.team-member {
    background: #6d4a22;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    position: relative;
}

.team-member img {
    width: 100%;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
    padding-bottom: 40px;
}

.team-member:hover img {
    transform: scale(1.05);
    filter: brightness(80%);
}

.team-member h3 {
    color:#35490c
    font-family: 'NCAA Wisconsin Badger Bold', Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 1px white;
        text-transform: uppercase;
}
.team-member p {
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.team-member h3 {
    margin: 0;
    margin-top: 0%;
    font-size: 180%;
    color: #35490c;
    text-shadow: 2px 2px 4px #000000;
    
}

.team-member p {
    color: #e8ba88;
    font-size: 1.25em;
    margin: 0 0 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* SUPPLIERS */

.suppliers h2 {
    text-align: center;
    color: #35490c;
    font-size: 400%;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'NCAA Wisconsin Badger Bold',Verdana,Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 1px white;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
}

.carousel-item {
    width: 190px;
    height: auto;
    flex: 0 0 auto;
    align-items: center;
    margin-right: 40px;

}


/* FOOTER */

footer {
    background-image: url(/assets/Images/footer-islas.png);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    height: 180px;
    margin-top: 30px;
    border-radius: 90px 0 90px 0;
}

footer th {
    color: var(--third-color);
    font-size: x-large;
    padding-top: 40px;
    margin-left: 20px;
}

.links td {
    border-right: 2px solid black;
    padding: 20px;
}

.links td:last-child {
    border-right: none;
}

footer p {
    color: black;
    margin-left: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


footer img {
    height: 30px;
    width: auto;
    margin: 20px
}

footer img:hover {
    height: 40px;
    width: auto;
    margin: 20px;
}


footer a {
    color: black;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer a:hover {
    color: var(--third-color);
    text-decoration: none;
}